.checkIn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 4.55% 140px;
  max-width: 1440px;
  margin: 0 auto;
  h2 {
    padding: 142px 0 9px;
  }
  &__form {
    padding-top: 63px;
  }
  &__info {
    font-size: 18px;
  }
  &__singOut {
    background-color: #d7d7d7;
    color: #8d8c8c;
    width: 31%;
    height: 40px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 40px auto 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      cursor: pointer;
      background-color: #ef6c00;
      color: #ffffff;
    }
    &Disabled {
      cursor: no-drop;
      &:hover {
        cursor: no-drop;
        background-color: #d7d7d7;
        color: #8d8c8c;
      }
    }
  }
  &__formRow {
    width: 31.2%;
  }
  &__formRowSelect,
  &__formRowAddFile {
    width: 48.5%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .checkIn {
    padding: 0 0 67px;
    h2 {
      padding: 115px 0 9px;
    }
    &__info {
      text-align: center;
      font-size: 16px;
      padding: 0 8%;
      line-height: 22px;
    }
    &__formRow {
      width: 100%;
      margin-bottom: 33px;
      .checkIn__select {
        margin-top: 2px;
      }
    }
    &__form {
      padding: 32px 4.75% 0;
      box-sizing: border-box;
    }
    .addPhoto {
      margin-top: 0;
    }
    .checkIn__singOut {
      width: 100%;
      margin: 0 auto;
    }
  }

}


@media screen and (min-width: 768px) and (max-width: 1023px){
  .checkIn {
    padding: 0 3% 121px;
    h2 {
      padding: 164px 0 17px;
    }
    &__info {
      padding: 0 24.1%;
    }
    &__form {
      padding-top: 52px;
    }
    &__formRow {
      width: 30.5%;
    }
    &__formRowSelect,
    &__formRowAddFile {
      width: 47.9%;
    }
    .checkIn__singOut {
      width: 40%;
    }
  }
}

@media screen and (min-width: 2560px){
  .checkIn {
    width: 1140px;
    margin: 0 auto;
    padding: 0 0 149px 0;
    h2 {
      padding: 163px 0 9px;
    }
    &__form {
      padding-top: 65px;
    }
    &__singOut {
      margin: 43px auto 0;
    }
    &__singOut {
      width: 25.5%;
    }
  }
}