.checkIn__select {
  margin-top: 40px;
  position: relative;
  &_visible {
    .select__selectedOption {
      background-color: #ffffff;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
        color: #f07611;
      }
    }
    .select__options {
      background-color: #ffffff;
      z-index: 99;
      .select__option {
        display: flex;
        align-items: center;
        padding-left: 16px;
        height: 55px;
        background-color: #ffffff;
        &:hover {
          cursor: pointer;
          background-color: #fce2cc;
        }
        a {
          width: 100%;
          height: inherit;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.select__options {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
}

.select {
  &__selectedOption {
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    padding: 0 16px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    display: inline-flex;
    align-items: center;
    position: relative;
    & svg {
      position: absolute;
      right: 16px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .select {
    &__selectedOption {
      width: 100%;
      display: flex;
    }
  }
}

@media screen and (min-width: 2560px){
  .checkIn__select {
    margin-top: 40px;
  }

  .select {
    &__selectedOption {
      width: 555px;
      height: 56px;
      & svg {
        right: 12px;
      }
    }
  }
}

