.footerInfo__contacts {
  display: inline-flex;
  flex-direction: column;
  .footerInfo__contact {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
    span {
      margin-left: 10px;
    }
  }
}