.menu {
  display: flex;
  &__item {
    list-style: none;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #222222;
      height: 100%;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px){
  .mobileMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 60px;
    svg {
      padding-top: 5px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu{
    &__item {
      display: flex;
      justify-content: center;
      height: 26px;
      a {
        span {
          font-size: 16px;
        }
      }
    }
  }
  .mobileMenu {
    width: 54px;
    svg {
      padding-top: 3px;
    }
  }
}


