.footerInfo__links {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 68.75%;
  height: 120px;
  margin-top: 4px;
  li {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 24px;
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px){
  .footerInfo__links {
    width: 69.25%;
  }
}

@media screen and (min-width: 2560px){
  .footerInfo__links {
    width: 68.2%;
    margin-top: 8px;
  }
}