.userAccount {
  display: inline-flex;
  align-items: center;
  padding-top: 3px;
  margin-left: 55px;
  &__userInfo {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 33px;
  }
  &__userName {
    font-size: 14px;
    color: #111111;
  }
  &__userEmail {
    font-size: 12px;
    color: #959494;
    padding-bottom: 3px;
  }
  &__userImg {
    display: flex;
    align-items: center;
    margin-left: 12px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      margin-right: 16px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px){
  .userAccount {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    padding-left: 24px;
    width: 260px;
    box-sizing: border-box;
    border-bottom: 1px solid #e1e1e1;
    background-color: #ffffff;
    &__userInfo {
      order: 1;
      align-items: flex-start;
      height: auto;
    }
    &__userName {
      padding-bottom: 9px;
    }
    &__userEmail {
      padding-bottom: 24px;
    }
    &__userImg {
      img {
        margin: 0 0 18px 0;
      }
      order: 0;
      margin-left: 0;
      .userAccount__signOut {
        display: none;
      }
    }

  }
}

@media screen and (min-width: 2560px){
  .userAccount {
    padding-top: 0;
    margin-left: 158px;
    &__signOut {
      padding-top: 5px;
    }
    &__userImg {
      margin-left: 11px;
    }
  }
}