.addPhoto {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding-left: 16px;
  margin-top: 40px;
  input[type='file'] {
    display: none;
  }
  label {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
  &__upload {
    box-sizing: border-box;
    height: 55px;
    width: 130px;
    border: 2px solid #ef6c00;
    font-size: 20px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    color: #ef6c00;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .addPhoto {
    &__upload {
      color: transparent;
      width: 56px;
      position: relative;
      &::after {
        content: url("../../../../assets/icons/upload.svg");
        width: 56px;
        position: absolute;
        left: 0;
        text-align: center;
      }
    }
  }

}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .addPhoto {
    width: 100%;
  }
}

@media screen and (min-width: 2560px){
  .addPhoto {
    margin-top: 40px;
    width: 555px;
    height: 56px;
  }
}