label {
  position: relative;
  display: inline-flex;
  width: 290px;
  height: 56px;
  color: #959494;
  &::before {
    position: absolute;
    top: -6px;
    left: 12px;
    display: block;
    padding: 0 5px;
    background-color: #ffffff;
    font-size: 12px;
  }
  input[type="text"] {
    border: 1px solid #b7b7b7;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 2559px) {
  label {
    width: 100%;
  }
}

@media screen and (min-width: 2560px){
  label {
    width: 360px;
    height: 56px;
  }
}