.socialLink {
  width: 211px;
  display: flex;
  justify-content: space-between;
  svg {
    width: 26px;
    height: 26px;
    g {
      g {
        fill: #ffffff;
        transition: fill 0.5s;
      }
    }
    &:hover {
      cursor: pointer;
      g {
        g {
          fill: #ef6c00;
        }
      }
    }
  }
}