*{
  padding: 0;
  margin: 0;
}

html, body, #root, .content {
  height: 100%;
}

body {
  line-height: normal;
}

header, footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

header, main, footer {
  margin: 0 auto;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h1, h2, h3, h4 {
  font-family: 'Overpass', sans-serif;
}

input, select {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 42px;
  }
}
