footer {
  display: flex;
  flex-direction: column;
  background-color: #283593;
  color: #ffffff;
  box-sizing: border-box;
  .footerNavigation {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.55%;
    box-sizing: border-box;
    height: 86px;
    border-bottom: 1px solid #5f5fc4;
    .menu {
      width: 456px;
      margin-top: 1px;
      display: flex;
      justify-content: space-between;
      padding-bottom: 5px;
      &__item {
        list-style: none;
        a {
          color: #ffffff;
          font-size: 16px;
        }
      }
    }
  }
  .footerInfo {
    display: flex;
    justify-content: space-between;
    padding: 19px 4.55% 0;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    .footerInfo__contacts {
      margin-top: 5px;
    }
    .footerInfo__contacts {
      .footerInfo__contact {
        margin-bottom: 18px;
        &:nth-of-type(1) {
          svg {
            margin: 3px 0 0 1px;
          }
          span {
            margin-left: 10px;
          }
        }
        &:nth-of-type(2) {
          svg {
            margin-left: 3px;
          }
          span {
            margin-left: 11px;
          }
        }
        &:nth-of-type(3) {
          svg {
            margin-left: 5px;
          }
          span {
            margin-left: 13px;
          }
        }
      }
    }
  }
  .footerSocial {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 14px 4.55% 30px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    .copyright {
      font-size: 12px;
    }
  }
  .logo {
    padding: 0;
    margin-top: 7px;
    svg {
      width: 134px;
      fill: #ffffff;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  footer {
    .footerNavigation {
      flex-direction: column;
      height: auto;
      padding: 20px 0 0 0;
      .menu {
        width: 100%;
        flex-direction: column;
        margin-top: 2px;
        padding-bottom: 28px;
      }
    }
    .footerInfo {
      flex-direction: column;
      padding: 20px 0 0;
      .footerInfo__contacts{
        .footerInfo__contact {
          justify-content: center;
          margin-bottom: 11px;
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3) {
            span {
              margin: 0;
              font-size: 18px;
            }
          }
          svg {
            display: none;
          }
        }
      }
      &__links {
        display: none;
      }
    }
    .footerSocial {
      flex-direction: column;
      align-items: center;
      padding: 18px 0 26px;
      .copyright {
        order: 1;
      }
      .socialLink {
        order: 0;
        width: 212px;
        padding-bottom: 16px;
      }
    }
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px){
  footer {
    .footerNavigation {
      padding: 0 3%;
      .menu {
        width: 63.1%;
      }
    }
    .footerSocial {
      padding: 14px 3% 33px;
    }
    .footerInfo {
      padding: 19px 3% 0;
      .footerInfo__contacts {
        .footerInfo__contact {
          font-size: 18px;
          margin-bottom: 21px;
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3) {
            span {
              margin-left: 0;
            }
          }
          &:nth-of-type(1) {
            span {
              margin-top: 2px;
            }
          }
          svg {
            display: none;
          }
        }
      }
    }
  }

}

@media screen and (min-width: 2560px){
  footer {
    align-items: center;
    .footerNavigation,  .footerInfo,  .footerSocial {
      width: 1140px;
      margin: 0 auto;
    }
    .footerNavigation {
      height: 74px;
      padding: 0 0 8px 0;
      .menu {
        padding-bottom: 8px;
      }
    }
    .footerInfo {
      padding: 15px 0 0 0;
      .footerInfo__contacts {
        margin-top: 9px;
        .footerInfo__contact {
          margin-bottom: 18px;
          &:nth-of-type(1) {
            svg {
              margin-left: 1px;
            }
            span {
              margin-left: 9px;
            }
          }
          &:nth-of-type(2) {
            svg {
              margin-left: 3px;
            }
            span {
              margin-left: 11px;
            }
          }
          &:nth-of-type(3) {
            svg {
              margin-left: 5px;
            }
            span {
              margin-left: 13px;
            }
          }
        }
      }
    }
    .footerSocial {
      padding: 14px 0 43px;
    }
    .logo {
      margin-top: 4px;
    }
  }
}