.aboutMe {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  h2 {
    padding: 121px 245px 47px;
    text-align: center;
    line-height: 50px;
  }
  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 4.45% 138px;
    box-sizing: border-box;
  }
  &__info {
    display: flex;
    flex-direction: column;
    flex-basis: 31%;
    svg {
      width: 100px;
      height: 111px;
    }
    h3 {
      padding: 20px 0 5px 0;
    }
    p {
      color: #4c4b4b;
      font-size: 16px;
      font-family: 'PT Sans', sans-serif;
      line-height: 22px;
      padding-left: 4px;
    }
    &:nth-of-type(2) {
      p {
        padding: 0 65px 0 2px;
      }
    }
    &:nth-of-type(3) {
      p {
        padding: 0 15px 0 1px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .aboutMe {
    h2 {
      padding: 65px 2% 27px;
      line-height: 33px;
    }
    &__content {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      padding: 0 5% 40px;
    }
    &__info {
      justify-content: center;
      flex-basis: 100%;
      margin-bottom: 28px;
      .info__htmlImage, .info__cssImage, .info__jsImage {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        svg {
          width: 31%;
          height: auto;
        }
      }
      &:nth-of-type(3) {
        h3 {
          padding: 18px 0 1px 0;
        }
      }
      h3 {
        padding: 11px 0 1px 0;
      }
      p {
        &:nth-of-type(1),  &:nth-of-type(1),  &:nth-of-type(1) {
          padding: 0;
        }
      }
    }
    &__desc {
      p, h3 {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .aboutMe {
    h2 {
      padding: 135px 15% 39px;
    }
    &__content {
      flex-direction: column;
      align-items: center;
      padding: 0 0 79px;
    }
    &__info {
      flex-direction: row;
      flex-basis: 150px;
      width: 80%;
      margin-left: 3%;
      .info__htmlImage,
      .info__cssImage,
      .info__jsImage{
        width: 14.5%;
        svg {
          margin-top: 5px;
          width: 100%;
          height: auto;
        }
      }
      h3 {
        padding: 0 0 5px 3px;
      }
    }
    &__desc {
      width: 77%;
      margin-left: 5%;
    }
  }
}

@media screen and (min-width: 2560px){
  .aboutMe {
    width: 1140px;
    margin: 0 auto;
    h2 {
      padding: 77px 255px 46px;
    }
    &__content {
      padding: 0 0 141px 0;
    }
    &__info {
      &:nth-of-type(1) {
        p {
          padding-left: 2px;
        }
      }
      &:nth-of-type(2) {
        p {
          padding-right: 25px;
        }
      }
      &:nth-of-type(3) {
        p {
          padding-left: 2px;
          padding-right: 9px;
        }
      }
      flex-basis: 360px;
      h3 {
        padding: 20px 0 5px 0;
      }
    }
  }
}